.form-error {
    margin-left: 2em;
}

ion-button {
    margin: 2em;
}

#noShowForm {
    width: 80%;
    margin: 2em auto;
    ion-label {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .inputBox {
        margin: 1em;
    }
    // ion-select {
    //     .select-text {
    //         flex: none;
    //     }
    // }
}

// ion-picker > .picker-wrapper.sc-ion-picker-md {
//     bottom: 50%;
//     border-radius: 10px;
// }