<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Absence Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="noShowForm" id="noShowForm">

    <div class="reactive-form">
      <ion-label position="stacked" class="childName">Child's name:</ion-label>
      <form autocomplete="on" novalidate [formGroup]="noShowForm" (ngSubmit)="submitReactiveForm($event)" required class="inputBox kidsName">
        <div class="container">
          <div class="ng-autocomplete">
            <ng-autocomplete #ngAutoCompleteStatic [data]="childrenList" formControlName="childName" 
            [initialValue]="" [placeHolder]="placeholder" [searchKeyword]="keyword" 
            historyIdentifier="childrenListList" [historyHeading]="historyHeading" historyListMaxNumber="3" 
            notFoundText="Not found" [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
  
            <ng-template #itemTemplateStatic let-item>
              <a [innerHTML]="item"></a>
            </ng-template>
  
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="childName.invalid && (childName.touched || childName.dirty)">
      <div *ngIf="childName.errors.required">
        <ion-text color="danger"><p class="form-error">Child's name is missing.</p></ion-text>  
      </div>
    </div>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Reason for absence:</ion-label>
        <ion-select placeholder="Click to select reason" required formControlName="reason" class="inputBox">
            <ion-select-option *ngFor="let reason of reasonList" [value]="reason">
                {{reason}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div *ngIf="reason.invalid && (reason.touched || reason.dirty)">
      <div *ngIf="reason.errors.required">
        <ion-text color="danger"><p class="form-error">Reason for absence is missing.</p></ion-text>  
      </div>
    </div>


    <ion-item>
      <ion-label position="stacked">From:</ion-label>
      <ion-datetime displayFormat="DDDD, DD MMMM YYYY"
      placeholder="Select Date" formControlName="dateFrom" required
      [min]="minDate" max="2050" class="inputBox" style="margin-left:3em;"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">To:</ion-label>
      <ion-datetime displayFormat="DDDD, DD MMMM YYYY"
      placeholder="Select Date" formControlName="dateTo" required
      [min]="dateFrom.value" max="2050" class="inputBox" style="margin-left:3em;"></ion-datetime>
    </ion-item>

    <div *ngIf="dateTo.value < dateFrom.value">
      <ion-text color="danger"><p class="form-error">The To: date is before the From: date.</p></ion-text>  
    </div>

    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Notes:</ion-label>
      <ion-textarea placeholder="Enter more information here..." type="text" inputmode="text" 
      auto-grow="true" color="dark" formControlName="notes" wrap="soft" class="inputBox"></ion-textarea>
    </ion-item>

    
    <ion-button type="submit" expand="block" color="medium" 
    [disabled]="noShowForm.invalid || dateTo.value < dateFrom.value">SAVE</ion-button> 

    <p>
      Value: {{ noShowForm.value | json }}
      <br>
      dateTo status: {{ dateTo.status }}
      Form status: {{ noShowForm.status }}
    </p>

  </form>

</ion-content>
